body {
    background: linear-gradient(90deg, rgba(101,101,110,1) 0%, rgba(81,78,157,1) 100%);
}
div{
    position: relative;
    height: 100%;
    width: 100%;
}


.btn1 {
    position: absolute;
    top: 52vh;
    left: 55vw;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    background-color: #43427d;
    border: 1px solid #000;
    transition: all .5s;
    
}
.btn1:hover{
    border: 1px solid hsl(60, 93%, 74%);
    letter-spacing: 3px;
    color: hsl(60, 93%, 74%);
}
.btn2 {
    position: absolute;
    top: 52vh;
    left: 45vw;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    background-color: #43427d;
    border: 1px solid #000;
    transition: all .5s;
}
.btn2:hover{
    border: 1px solid hsl(60, 93%, 74%);
    letter-spacing: 3px;
    color: hsl(60, 93%, 74%);
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: large;
    position: absolute;
    top: 44vh;
    left: 50vw;
}